section {
    padding-top: 20px;
}

.bg-header {
    background-color: #8c09e3 !important;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.foto-profil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    margin-left: -5px;
}

.size-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    width: 20%;
}

.bg-logo {
    background-image: url('../img/hero-background.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

.font-color {
    color: #8c09e3;
    text-shadow: 2px 2px 4px rgb(187, 174, 177);
}


.bg-services {
    background-color: #857c7c;
    padding: 20px;
}


.size-foto .carousel-item img {
    height: 500px;
    object-fit: cover;
    object-position: center;
}